<div class="header-container">
  <div class="head-top">SALE INVOICE</div>
  <div class="head-bottom">
    <div class="head-left">
      <div style="font-weight:700">Go Something PVT. LTD.</div>
      <div style="font-weight:normal">address here<br>
          Contact : 9971618084<br>
          E-Mail : info.gosomething@gmail.com
      </div>
      <div>Statutory Registrations</div>
      <div>GSTIN NO.: 08SZUJ227JHK<br>
          PAN NO.: BAFPK7991E      </div>
    </div>
    <div class="head-right">
      <div>Invoice No: <input type="number" value="{{invoice_number}}"/></div>
      <div>Invoice Date: <input type="date" value=""/></div>
      <div>PO Number: <input type="text" value=""/></div>
      <div>PO Date: <input type="date" value=""/></div>
      <div>Vendor Code: <input type="text" value=""/></div>                        
    </div>
  </div>

</div>